@charset "UTF-8";
/**
 * 
 * @authors start_heart (you@example.org)
 * @date    2015-02-12 15:09:25
 * @version 1.0
 */
body {
  font-family: arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
}
a {outline: none;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;color: #fff;}
a:active {star:expression_r(this.onFocus=this.blur());}
a:focus { outline:0; }
.sidebar {
  height: 100%;
  background: #7DB343;
  position: fixed;
  padding: 0px;
}
.logo {
  background: url(../image/Logo.jpg) top left no-repeat;
  background-size: 25%;
}
.logo h4 {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 3px;
  padding-bottom: 40px;
}
.logo h4:first-child {
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 0px;
}
.nav-sidebar {
  height: 100%;
  background-color: #313541;
  color: #fff;
}
.tab-wrapper > a {
  display: block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}
.tab-wrapper > a:hover {
  background-color: #222;
  text-decoration: none;
}
.tab-menuWrapper {
  display: none;
}
.tab-contentWrapper {
  display: none;
}
.tab-contentWrapper a {
  color: #337ab7;
}
.main {
  padding: 0;
}
.content {
  padding-left: 15px;
  padding-right: 15px;
}
